# Created by .ignore support plugin (hsz.mobi)
### NotepadPP template
# Notepad++ backups #
*.bak
### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
##
.idea/
.gradle/
gradle/
gradlew
gradlew.bat
/src/test/
/chat.iws
/chat.ipr
/build/
/src/main/java/ru/vachok/pbem/chess/META-INF/
/src/main/docs/
/hs_err_pid8644.log
/hs_err_pid8284.log
/replay_pid8644.log
/hs_err_pid5068.log
/replay_pid5068.log
/hs_err_pid10480.log
*.iws
*.ipr
*.prn
*.log
/logs/
/regpass
SimpleEmailBinchessMail.properties
Test Results - StartMePChessTest.html
*.obj
Test Results - StartMePChessTest_mapAndSend.html
/StartMePChessTest_mapAndSend.html
/src/main/resources/cover/
/src/console.txt
SimpleEmailREGchessMail.properties
1.Re
2.RE
*.eem
3.RE
mes/
/src/main/resources/a.sql
/EChecker.properties
chess.properties
Test Results - CliBuildRunJar.xml
